body {
  background-color: #000;
}

.body {
  border-collapse: collapse;
  background-color: #444;
  margin: auto;
  width: 50%;
  border-radius: 10px;
  overflow: hidden;
}

.titre {
  text-align: center;
  font-family: sans-serif;
  font-size: medium;
  color: white;
  background-color: #222;
}

label {
  color: #FFF;
}

.form {
  height: 80px;
  background-color: #222;
}

.chat_aff {
  width: 95%;
  height: 100%;
  background-color: white;
  margin: auto;
  overflow-y: scroll;
}

.form2 {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.name {
  border-radius: 10px;
  width: 80%;
}

.message {
  border-radius: 10px;
  width: 100%;
}

.submit {
  width: 100%;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: medium;
}

.table_message {
  width: 100%;
  font-size: small;
  font-family: sans-serif;
  border-collapse: collapse;
  table-layout: fixed;
}

.info_message {
  overflow: hidden;
  font-size: x-small;
  padding: 1%;
  border-radius: 10px;
}

.message {
  width: 90%;
  overflow-x: hidden;
  overflow-y: visible;
  text-align: left;
}

.message2 {
  width: 100%;
  overflow: hidden;
  word-break: break-all;
}

.footer {
  color: #FFF;
  text-align: center;
  font-size: x-small;
  background-color: #222;
}
